/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: $default;
  font-family: $font-default;
}

a {
  color: $primary;
  text-decoration: none;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: lighten($primary, 0.2%);
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: $primary;
  width: 40px;
  height: 40px;
  transition: all 0.4s;

  i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }

  &:hover  {
    background: lighten($primary, 8);
    color: #fff;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

}
