/// Default color variables

$primary: #50d8af;
$secondary: #0c2e8a;
$default: #444;

/// Fonts Variables
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-default: 'Open Sans', sans-serif;
